<div class="flex justify-center items-center min-h-screen bg-gray-100 p-4">
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
    <p-fileupload
      #fileUpload
      mode="basic"
      chooseLabel="Choose"
      chooseIcon="pi pi-upload"
      name="demo[]"
      accept=".ion"
      [auto]="false"
      [customUpload]="true"
      [showUploadButton]="false"
      [showCancelButton]="false"
      [multiple]="false"
      maxFileSize="1000000000000000000"
      previewWidth="0"
      (onSelect)="onUpload($event)"
      styleClass="w-full"
    >
      <ng-template pTemplate="empty">
        <div class="flex flex-col items-center justify-center py-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-12 w-12 text-gray-400 mb-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
            />
          </svg>
          <p class="text-gray-600">Drag and drop ION files here to read them</p>
          <p class="text-sm text-gray-500 mt-1">or click to browse</p>
        </div>
      </ng-template>
    </p-fileupload>
  </div>
</div>
