<p-accordion value="0" [multiple]="true">
  <p-accordion-panel value="0">
    <p-accordion-header>
      <span class="flex items-center gap-2 w-full">
        <i class="pi pi-server"></i>
        <span class="font-bold whitespace-nowrap">Robot Information</span>
      </span>
    </p-accordion-header>
    <p-accordion-content>
      <app-robot-info></app-robot-info>
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="1">
    <p-accordion-header>
      <span class="flex items-center gap-2 w-full">
        <i class="pi pi-wrench"></i>
        <span class="font-bold whitespace-nowrap">Robot Config</span>
      </span>
    </p-accordion-header>
    <p-accordion-content>
      <app-robot-config></app-robot-config>
    </p-accordion-content>
  </p-accordion-panel>

  <p-accordion-panel value="2">
    <p-accordion-header>
      <span class="flex items-center gap-2 w-full">
        <i class="pi pi-microchip"></i>
        <span class="font-bold whitespace-nowrap">Session Information</span>
      </span>
    </p-accordion-header>
    <p-accordion-content>
      <app-session-info></app-session-info>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>
